{% load bootstrap %}
<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
	{% include 'fragments/head.html' %}

	<title>Kniffel</title>
</head>
{% block body %}
    <div class="container">

      <div class="masthead">
        <h3 class="muted">{% block branding %}Kniffel{% endblock %}</h3>
{% include 'fragments/navbar.html' %}
      </div>
{% include 'fragments/messages.html' %}
{% block content %}
<h1>Download</h1>
      <div class="row-fluid">
      	<div class="span12 well">
      	Das gesamte Projekt ist unter Creative Commons Attribution Lizenz 2.0 verfügbar.<br>
      	Der Sourcecode liegt in der jeweils aktuellsten Version auf Github:<br><br>
      	<a href="https://github.com/fmhc/kniffel" class="btn btn-large btn-success">zum Download</a>
        </div>
      </div>

{% endblock %}
      <hr>

      <div class="footer">
        {% block footer %}<p>&copy; fmhconsulting 2013</p>{% endblock %}
      </div>

    </div> <!-- /container -->
{% endblock %}