{% load bootstrap %}
<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
	{% include 'fragments/head.html' %}

	<title>Kniffel</title>
</head>
{% block body %}
    <div class="container">

      <div class="masthead">
        <h3 class="muted">{% block branding %}Kniffel{% endblock %}</h3>
{% include 'fragments/navbar.html' %}
      </div>
{% include 'fragments/messages.html' %}
{% block content %}
		<h1>Highscore</h1>
		<div class="row-fluid">
			<div class="span12">
			
			{% if not highscore_list == None %}
		    <table class="table table-condensed table-hover">
          	<tr>
          		<td>#</td>
          		<td>Spielname</td>
          		<td>Highscore</td>
          	</tr>
		    {% for game in highscore_list %}
		    <tr>
          		<td>{{ game.id }}</td>
          		<td>{{ game }}</td>
          		<td>{{ game.r1er }}</td>
          	</tr>
		    {% endfor %}
		    </table>
		{% else %}
		<table class="table table-condensed table-hover">
          	<tr>
          		<td>#</td>
          		<td>Spielname</td>
          		<td>Highscore</td>
          	</tr>
          	<tr class="">
			    <td>82</td>
			    <td>Superspiel</td>
			    <td>184</td>
			  </tr>
			<tr class="">
			    <td>81</td>
			    <td>Finns Game</td>
			    <td>176</td>
			  </tr>
			  <tr class="">
			    <td>80</td>
			    <td>Huhnsuche</td>
			    <td>195</td>
			  </tr>
          </table>
          {% endif %}
			
      		</div>
		</div>

{% endblock %}
      <hr>

      <div class="footer">
        {% block footer %}<p>&copy; fmhconsulting 2013</p>{% endblock %}
      </div>

    </div> <!-- /container -->
{% endblock %}