{% load bootstrap %}
<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
	{% include 'fragments/head.html' %}

	<title>Kniffel</title>
</head>
{% block body %}
    <div class="container">

      <div class="masthead">
        <h3 class="muted">{% block branding %}Kniffel{% endblock %}</h3>
{% include 'fragments/navbar.html' %}
      </div>
{% include 'fragments/messages.html' %}

         	
{% block content %}
		<h1>Impressum</h1>
      	<div class="row-fluid">
        	<div class="span12 well">
        	Hier muss noch ein Impressum rein
        	
			</div>
		</div>

{% endblock %}
      <hr>

      <div class="footer">
        {% block footer %}<p>&copy; fmhconsulting 2013</p>{% endblock %}
      </div>

    </div> <!-- /container -->
{% endblock %}