{% load bootstrap %}
<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
	{% include 'fragments/head.html' %}
	{% include 'fragments/javascript.html' %}
	<script type="text/javascript">
	$(document).ready(function(){
	$('#debug').hide();
	$('#debug_toggle').click(function() {
	  $('#debug').toggle('slow', function() {
	    // Animation complete.
	  });
	});
	var_round_rolls_percent = 33 * {{ sess.session.game_round.wurf }}
	$("#round_progress").css('width', var_round_rolls_percent + '%');
	var_game_round_percent = 7.7 * {{ sess.session.game.runde }}
	$("#game_progress").css('width', var_game_round_percent + '%');
	
	{% if sess.session.game_round.w1.hold == True %}
		$("#w1").css('background-color', '#CCCCCC');
		$("#hold_w1").addClass("btn-success");
		$("#hold_w1").removeClass("btn-inverse");
		$("#hold_w1").html("<i id=\"ihold_w1\" class=\"icon-play icon-white\"></i> play");
	{% else %}
		$("#w1").css('background-color', '#EEEEEE');
		$("#hold_w1").addClass("btn-inverse");
		$("#hold_w1").removeClass("btn-success");
		$("#hold_w1").html("<i id=\"ihold_w1\" class=\"icon-pause icon-white\"></i> hold");
	{% endif %}	
	
	{% if sess.session.game_round.w2.hold == True %}
		$("#w2").css('background-color', '#CCCCCC');
		$("#hold_w2").addClass("btn-success");
		$("#hold_w2").removeClass("btn-inverse");
		$("#hold_w2").html("<i id=\"ihold_w2\" class=\"icon-play icon-white\"></i> play");
	{% else %}
		$("#w2").css('background-color', '#EEEEEE');
		$("#hold_w2").addClass("btn-inverse");
		$("#hold_w2").removeClass("btn-success");
		$("#hold_w2").html("<i id=\"ihold_w2\" class=\"icon-pause icon-white\"></i> hold");
	{% endif %}	
	
	{% if sess.session.game_round.w3.hold == True %}
		$("#w3").css('background-color', '#CCCCCC');
		$("#hold_w3").addClass("btn-success");
		$("#hold_w3").removeClass("btn-inverse");
		$("#hold_w3").html("<i id=\"ihold_w3\" class=\"icon-play icon-white\"></i> play");
	{% else %}
		$("#w3").css('background-color', '#EEEEEE');
		$("#hold_w3").addClass("btn-inverse");
		$("#hold_w3").removeClass("btn-success");
		$("#hold_w3").html("<i id=\"ihold_w3\" class=\"icon-pause icon-white\"></i> hold");
	{% endif %}	

	{% if sess.session.game_round.w4.hold == True %}
		$("#w4").css('background-color', '#CCCCCC');
		$("#hold_w4").addClass("btn-success");
		$("#hold_w4").removeClass("btn-inverse");
		$("#hold_w4").html("<i id=\"ihold_w4\" class=\"icon-play icon-white\"></i> play");
	{% else %}
		$("#w4").css('background-color', '#EEEEEE');
		$("#hold_w4").addClass("btn-inverse");
		$("#hold_w4").removeClass("btn-success");
		$("#hold_w4").html("<i id=\"ihold_w4\" class=\"icon-pause icon-white\"></i> hold");
	{% endif %}	
	
	{% if sess.session.game_round.w5.hold == True %}
		$("#w5").css('background-color', '#CCCCCC');
		$("#hold_w5").addClass("btn-success");
		$("#hold_w5").removeClass("btn-inverse");
		$("#hold_w5").html("<i id=\"ihold_w5\" class=\"icon-play icon-white\"></i> play");
	{% else %}
		$("#w5").css('background-color', '#EEEEEE');
		$("#hold_w5").addClass("btn-inverse");
		$("#hold_w5").removeClass("btn-success");
		$("#hold_w5").html("<i id=\"ihold_w5\" class=\"icon-pause icon-white\"></i> hold");
	{% endif %}	
	
	{% if sess.session.game_round.wurf == 3 %}
		$("#btn_roll").addClass("disabled");
		$("#btn_roll").removeClass("btn-success ");
		$("#hold_w5").html("<i id=\"ihold_w5\" class=\"icon-play icon-white\"></i> play");
	{% endif %}
	
	
	});
	</script>
	<title>Kniffel</title>
</head>
{% block body %}
    <div class="container">

      <div class="masthead">
        <h3 class="muted">{% block branding %}Kniffel{% endblock %}</h3>
{% include 'fragments/navbar.html' %}
      </div>
{% include 'fragments/messages.html' %}

{% block content %}


{% if not sess.session.error == None %}
<div class="alert" id="error">
{{ sess.session.error }} 
</div>
{% endif %}

{% if not sess.session.success == None %}
<div class="success" id="error">
{{ sess.session.success }} 
</div>
{% endif %}
<div class="well" id="starten">
<a href="#" id="debug_toggle" onclick="debug.toggle()" class="btn btn-primary btn-information">Debug-Informationen</a> 
{% if not hold_w_id == False %}<a href="/kniffel/stop" class="btn btn-primary btn-warning">Spiel beenden</a>{% endif %}

{% if not sess == False %}
	<div class="well" id="debug">
		Meldung - sess.session.msg:<br>
		<pre>{{ sess.session.msg }}</pre>
		Playername: {{ playername }}<br>
		Session Game Name: {{ sess.session.game.name }}<br>	
		Session Game Player All: {{ sess.session.game.player.all }}<br>
		Session Playerlist: {{ sess.session.playerlist }}<br>
		Session Game Runde: {{ sess.session.game.runde }}<br>
		Session Game_round Wurf: {{ sess.session.game_round.wurf }}<br>
		Session Diceset: {{ sess.session.diceset }}<br>
		Session choose: {{ sess.GET.choose }}<br>
		
		{% if resultset in sess.session %} Session Resultset: 
			{{ sess.session.resultset }}<br>
		{% endif %}
		{% for key in sess.session.playerlist %}
			{{ key }}<br>
		{% endfor %}
		Session Player1: {{ sess.session.playerlist.0.player.nick }} 
	</div>
{% endif %}

{% if sess.session.game == None %}
<form action="/kniffel/start" method="POST">{% csrf_token %}
<!--<label for="gamename">Spielname: </label><input type="text" id="gamename" name="gamename"><br>-->
<label for="player1">Spieler 1: </label><input type="text" id="player1" name="player1"><br>
<label for="player2">Spieler 2: </label><input type="text" id="player2" name="player2"><br>
<label for="player3">Spieler 3: </label><input type="text" id="player3" name="player3"><br>
<label for="player4">Spieler 4: </label><input type="text" id="player4" name="player4"><br>
<input type="submit" name="start" class="btn btn-primary">start</input>
{% endif %}
</form>
</div>

{% if not sess.session.game == None %}
      <div class="row-fluid">
        <div class="span8">
         	
        
	        <div class="well" id="dice_area">
	        	<div id="dices" class="row">
	        		<div class="span1"></div>
	        		<div id="w1" class="span2 well text-center"><img src="/media/dice-{{ sess.session.diceset.0 }}.png" id="iw1"></div>
	        		<div id="w2" class="span2 well text-center"><img src="/media/dice-{{ sess.session.diceset.1 }}.png" id="iw2"></div>
	        		<div id="w3" class="span2 well text-center"><img src="/media/dice-{{ sess.session.diceset.2 }}.png" id="iw3"></div>
	        		<div id="w4" class="span2 well text-center"><img src="/media/dice-{{ sess.session.diceset.3 }}.png" id="iw4"></div>
	        		<div id="w5" class="span2 well text-center"><img src="/media/dice-{{ sess.session.diceset.4 }}.png" id="iw5"></div>
	        	</div>
	        	<div id="dices_hold" class="row">
	        		<div class="span1"></div>
	        		<div class="span2 text-center"><a href="/kniffel/w/1" class="btn btn-inverse" id="hold_w1"><i id="ihold_w1" class="icon-pause icon-white"></i> hold</a></div>
	        		<div class="span2 text-center"><a href="/kniffel/w/2" class="btn btn-inverse" id="hold_w2"><i id="ihold_w2" class="icon-pause icon-white"></i> hold</a></div>
	        		<div class="span2 text-center"><a href="/kniffel/w/3" class="btn btn-inverse" id="hold_w3"><i id="ihold_w3" class="icon-pause icon-white"></i> hold</a></div>
	        		<div class="span2 text-center"><a href="/kniffel/w/4" class="btn btn-inverse" id="hold_w4"><i id="ihold_w4" class="icon-pause icon-white"></i> hold</a></div>
	        		<div class="span2 text-center"><a href="/kniffel/w/5" class="btn btn-inverse" id="hold_w5"><i id="ihold_w5" class="icon-pause icon-white"></i> hold</a></div>
	        	</div>
        	</div>
       		<div class="well">
       		
       			<div class="row-fluid">
       		
	       			<div class="span8">	
						<div class="row-fluid">
				        	<div class="text-center progress progress-striped active">
				  				<div id="game_progress" class="bar" style="width: 4%;vertical-align:center;height:100%">
				  				{% if sess.session.game.runde < 14 %}
				  				Runde {{ sess.session.game.runde }} von 13
				  				{% else %}
				  				Spiel abgeschlossen
				  				{% endif %}
				  				</div>
							</div>
						</div>
						<div class="row-fluid">
				       		<div class="progress progress-success progress-striped active">
								<div id="round_progress" class="bar" style="width: {{ sess.session.game_round.wurf }}%">
								{% if sess.session.game.runde < 14 %}
								{{ sess.session.game_round.wurf }}
				  				{% else %}
				  				Spiel abgeschlossen
				  				{% endif %}
								</div>
							</div>
						</div>
					</div>
					
					<div class="span4">
						<div class="" id="roll_button_div">
						{% if sess.session.game.runde < 14 %}
				        	<a id="btn_roll" href="/kniffel/roll" class="btn btn-success btn-large btn-block"><i class="icon-play icon-white"></i> Würfeln</a>
						{% endif %}
						</div>
						
					</div>
				
				
				</div>
				
        	</div>
        	<div class="well" id="debug-game">
        	<table>
        		<tr>
        			<td>What?</td>
        			<td>{{ sess.session.playerlist.0.player.nick }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.player.nick }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.player.nick }}</td>{% endif %}
        			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.player.nick }}</td>{% endif %}
        		</tr>
        		<tr>
        			<td>Einsen</td>
        			<td>{{ sess.session.playerlist.0.r1er }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.r1er }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.r1er }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.r1er }}</td>{% endif %}        		
          		</tr>
        		<tr>
        			<td>Zweier</td>
        			<td>{{ sess.session.playerlist.0.r2er }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.r2er }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.r2er }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.r2er }}</td>{% endif %}        		
          		</tr>
        		<tr>
        			<td>Dreien</td>
        			<td>{{ sess.session.playerlist.0.r3er }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.r3er }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.r3er }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.r3er }}</td>{% endif %}        		
        		</tr>
        		<tr>
        			<td>Vieren</td>
        			<td>{{ sess.session.playerlist.0.r4er }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.r4er }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.r4er }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.r4er }}</td>{% endif %}        		
        		</tr>
        		<tr>
        			<td>Fünfen</td>
        			<td>{{ sess.session.playerlist.0.r5er }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.r5er }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.r5er }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.r5er }}</td>{% endif %}        		
        		</tr>	
        		<tr>
        			<td>Sechsen</td>
        			<td>{{ sess.session.playerlist.0.r6er }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.r6er }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.r6er }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.r6er }}</td>{% endif %}        		
        		</tr>
        		<tr>
        			<td>Bonus</td>
        			<td>{{ sess.session.playerlist.0.rbonus }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.rbonus }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.rbonus }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.rbonus }}</td>{% endif %}        		
        		</tr>
        		<tr>
        			<td>Dreierpasch</td>
        			<td>{{ sess.session.playerlist.0.r3p }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.r3p }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.r3p }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.r3p }}</td>{% endif %}        		
        		</tr>
        		<tr>
        			<td>Viererpasch</td>
        			<td>{{ sess.session.playerlist.0.r4p }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.r4p }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.r4p }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.r4p }}</td>{% endif %}        		
        		</tr>
        		<tr>
        			<td>Full House</td>
        			<td>{{ sess.session.playerlist.0.rfullhouse }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.rfullhouse }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.rfullhouse }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.rfullhouse }}</td>{% endif %}        		
        		</tr>
        		<tr>
        			<td>Kleine Strasse</td>
        			<td>{{ sess.session.playerlist.0.rkleinestr }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.rkleinestr }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.rkleinestr }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.rkleinestr }}</td>{% endif %}        		
        		</tr>
        		<tr>
        			<td>Grosse Strasse</td>
        			<td>{{ sess.session.playerlist.0.rgrossestr }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.rgrossestr }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.rgrossestr }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.rgrossestr }}</td>{% endif %}        		
        		</tr>
        		<tr>
        			<td>Kniffel</td>
        			<td>{{ sess.session.playerlist.0.rkniffel }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.rkniffel }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.rkniffel }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.rkniffel }}</td>{% endif %}        		
        		</tr>
        		<tr>
        			<td>Chance</td>
        			<td>{{ sess.session.playerlist.0.rchance }}</td>
        			{% if not sess.session.playerlist.1.player.nick == "" %}<td>{{ sess.session.playerlist.1.rchance }}</td>{% endif %}
        			{% if not sess.session.playerlist.2.player.nick == "" %}<td>{{ sess.session.playerlist.2.rchance }}</td>{% endif %}
          			{% if not sess.session.playerlist.3.player.nick == "" %}<td>{{ sess.session.playerlist.3.rchance }}</td>{% endif %}        		
        		</tr>
			</table>
        	</div>
        </div>
        <div class="span4 well">
        	<div class="row" style="padding-left:20px">
        	<table class="table table-condensed">
        		<tr>
        			<th>Option</th>
        			<th>Ergebnis</th>
        			<th></th>
        		</tr>
        		<tr>
        			<td class="text-center" id="label_r1er">Einser</td>
        			<td class="text-center" id="pot_res_r1er">{{ pot_res.r1er }}</td>
        			<td class="text-center" id="get_r1er">
        			{% if not sess.session.playerlist.0.r1er == None %}
        				{{ sess.session.playerlist.0.r1er }}
        			{% else %}
        				<a href="/kniffel/next?choose=r1er">wählen</a>
        			{% endif %}	
    				</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_r2er">Zweier</td>
        			<td class="text-center" id="pot_res_r2er">{{ pot_res.r2er }}</td>
        			<td class="text-center" id="get_r2er">
        			{% if not sess.session.playerlist.0.r2er == None %}
        				{{ sess.session.playerlist.0.r2er }}
        			{% else %}
        				<a href="/kniffel/next?choose=r2er">wählen</a>
        			{% endif %}
        			</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_r3er">Dreier</td>
        			<td class="text-center" id="pot_res_r3er">{{ pot_res.r3er }}</td>
        			<td class="text-center" id="get_r3er">
        			{% if not sess.session.playerlist.0.r3er == None %}
        				{{ sess.session.playerlist.0.r3er }}
        			{% else %}
        				<a href="/kniffel/next?choose=r3er">wählen</a>
        			{% endif %}
        			</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_r4er">Vierer</td>
        			<td class="text-center" id="pot_res_r4er">{{ pot_res.r4er }}</td>
        			<td class="text-center" id="get_r4er">
        			{% if not sess.session.playerlist.0.r4er == None %}
        				{{ sess.session.playerlist.0.r4er }}
        			{% else %}
        				<a href="/kniffel/next?choose=r4er">wählen</a>
        			{% endif %}
        			</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_r5er">Fünfer</td>
        			<td class="text-center" id="pot_res_r5er">{{ pot_res.r5er }}</td>
        			<td class="text-center" id="get_r5er">
        			{% if not sess.session.playerlist.0.r5er == None %}
        				{{ sess.session.playerlist.0.r5er }}
        			{% else %}
        				<a href="/kniffel/next?choose=r5er">wählen</a>
        			{% endif %}
        			</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_r6er">Sechser</td>
        			<td class="text-center" id="pot_res_r6er">{{ pot_res.r6er }}</td>
        			<td class="text-center" id="get_r6er">
        			{% if not sess.session.playerlist.0.r6er == None %}
        				{{ sess.session.playerlist.0.r6er }}
        			{% else %}
        				<a href="/kniffel/next?choose=r6er">wählen</a>
        			{% endif %}
        			</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_rsum1">Summe oben</td>
        			<td class="text-center" id="pot_res_rsum1">{{ pot_res.rsum1 }}</td>
        			<td class="text-center" id="get_rsum1">
        			{% if not sess.session.playerlist.0.rsum1 == None %}
        				{{ sess.session.playerlist.0.rsum1 }}
        			{% else %}
        				0
        			{% endif %}        			
        			</td>
        		</tr>        		
        		<tr>
					<td class="text-center" id="label_rbonus">Bonus</td>
        			<td class="text-center" id="pot_res_rbonus"></td>
        			<td class="text-center" id="get_rbonus">
        			{% if not sess.session.playerlist.0.rbonus == None %}
        				{{ sess.session.playerlist.0.rbonus }}
        			{% else %}
        				0
        			{% endif %}        			
        			</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_rfullhouse">Full House</td>
        			<td class="text-center" id="pot_res_rfullhouse">{{ pot_res.rfullhouse }}</td>
        			<td class="text-center" id="get_rfullhouse">
        			{% if not sess.session.playerlist.0.rfullhouse == None %}
        				{{ sess.session.playerlist.0.rfullhouse }}
        			{% else %}
        				<a href="/kniffel/next?choose=rfullhouse">wählen</a>
        			{% endif %}        			
        			</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_rkleinestr">kleine Straße</td>
        			<td class="text-center" id="pot_res_rkleinestr">{{ pot_res.rkleinestr }}</td>
        			<td class="text-center" id="get_rkleinestr">
					{% if not sess.session.playerlist.0.rkleinestr == None %}
        				{{ sess.session.playerlist.0.rkleinestr }}
        			{% else %}
        				<a href="/kniffel/next?choose=rkleinestr">wählen</a>
        			{% endif %}        		
        			
        			</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_rgrossestr">große Straße</td>
        			<td class="text-center" id="pot_res_rgrossestr">{{ pot_res.rgrossestr }}</td>
        			<td class="text-center" id="get_rgrossestr">
					{% if not sess.session.playerlist.0.rgrossestr == None %}
        				{{ sess.session.playerlist.0.rgrossestr }}
        			{% else %}
        				<a href="/kniffel/next?choose=rgrossestr">wählen</a>
        			{% endif %}        		
        			</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_r3p">Dreierpasch</td>
        			<td class="text-center" id="pot_res_r3p">{{ pot_res.r3p }}</td>
        			<td class="text-center" id="get_r3p">
        			{% if not sess.session.playerlist.0.r3p == None %}
        				{{ sess.session.playerlist.0.r3p }}
        			{% else %}
        				<a href="/kniffel/next?choose=r3p">wählen</a>
        			{% endif %}        		
        			</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_r4p">Viererpasch</td>
        			<td class="text-center" id="pot_res_r4p">{{ pot_res.r4p }}</td>
        			<td class="text-center" id="get_r4p">
        			{% if not sess.session.playerlist.0.r4p == None %}
        				{{ sess.session.playerlist.0.r4p }}
        			{% else %}
        				<a href="/kniffel/next?choose=r4p">wählen</a>
        			{% endif %}        		
        			</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_rkniffel">Kniffel</td>
        			<td class="text-center" id="pot_res_rkniffel">{{ pot_res.rkniffel }}</td>
        			<td class="text-center" id="get_rkniffel">
        			{% if not sess.session.playerlist.0.rkniffel == None %}
        				{{ sess.session.playerlist.0.rkniffel }}
        			{% else %}
        				<a href="/kniffel/next?choose=rkniffel">wählen</a>
        			{% endif %}        		
        			</td>
        		</tr>
        		<tr>
					<td class="text-center" id="label_rchance">Chance</td>
        			<td class="text-center" id="pot_res_rchance">{{ pot_res.rchance }}</td>
        			<td class="text-center" id="get_rchance">
        			{% if not sess.session.playerlist.0.rchance == None %}
        				{{ sess.session.playerlist.0.rchance }}
        			{% else %}
        				<a href="/kniffel/next?choose=rchance">wählen</a>
        			{% endif %}        		
        			</td>
        		</tr>
        	</table>
        	
        	</div>
        	

        	
        	
        	
			<!--
			<div class="row" style="padding-left:20px">
	    		<div class="input-prepend input-append">
	    			<span class="add-on">{{ pot_res.r1er }}</span>
	    			<input type="text" style="max-width:35px" value="24">
	    			<span class="add-on"> 1er <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios1" value="r1er"> wählen</span>
			  	</div>
			</div>
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">{{ pot_res.r2er }}</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> 2er <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios2" value="r2er"> wählen</span>
			  	</div>
			</div>
          	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on"></span>
        			<input type="text" style="max-width:35px" value="{{ pot_res.3er }}">
        			<span class="add-on"> 3er <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios3" value="r3er"> wählen</span>
			  	</div>
			</div>
          	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">25</span>
        			<input type="text" style="max-width:35px" value="15">
        			<span class="add-on"> 4er <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios4" value="r4er"> wählen</span>
			  	</div>
			</div>


          	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">25</span>
        			<input type="text" style="max-width:35px" value="15">
        			<span class="add-on"> 5er <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadio5" value="r5er"> wählen</span>
			  	</div>
			</div>
          	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> 6er <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios6" value="r6er"> wählen</span>
			  	</div>
			</div>
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">max. 180</span>
        			<input type="text" style="max-width:35px" value="15" disabled>
        			<span class="add-on"> Summe oben </span>
			  	</div>
			</div>
          	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">+25 wenn >63</span>
        			<input type="text" style="max-width:35px" value="15" disabled>
        			<span class="add-on"> Bonus </span>
			  	</div>
			</div>			
          	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> 3er Pasch <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios3p" value="r3p"> wählen</span>
			  	</div>
			</div>			
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> 4er Pasch <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios4p" value="r4p"> wählen</span>
			  	</div>
			</div>			
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> Full House <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadiosfullhouse" value="rfullhouse"> wählen</span>
			  	</div>
			</div>			
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> kleine Straße <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadioskleinestr" value="rkleinestr"> wählen</span>
			  	</div>
			</div>			
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> große Straße <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadiosgrossestr" value="rgrossestr"> wählen</span>
			  	</div>
			</div>
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> Kniffel <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadioskniffel" value="rkniffel"> wählen</span>
			  	</div>
			</div>
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append"><label for="optionsRadioschance">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> Chance <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadioschance" value="rchance"> wählen</span></label>
			  	</div>
			</div>
        	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">25</span>
        			<input type="text" style="max-width:35px" value="15">
        			<span class="add-on"> Summe unten </span>
			  	</div>
			</div>
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">25</span>
        			<input type="text" class="uneditable-input" style="max-width:35px" value="15">
        			<span class="add-on"> Summe Gesamtscore </span>
			  	</div>
			</div>
        	-->
        	<div class="row" style="padding-left:20px"></div>
        </div>
      </div>
{% endif %}
{% endblock %}
      <hr>

      <div class="footer">
        {% block footer %}<p>&copy; fmhconsulting 2013</p>{% endblock %}
      </div>

    </div> <!-- /container -->
{% endblock %}