{% load bootstrap %}
<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
	{% include 'fragments/head.html' %}
	{% include 'fragments/javascript.html' %}
	<script type="text/javascript">
	$(document).ready(function(){
		$("#testbutton").click(function() {
		  alert("Handler for .click() called.");
		  
		});

	});
function testfunc(){
	alert('testfunc');
}
	</script>
	<title>Kniffel</title>
</head>
{% block body %}
    <div class="container">

      <div class="masthead">
        <h3 class="muted">{% block branding %}Kniffel{% endblock %}</h3>
{% include 'fragments/navbar.html' %}
      </div>
{% include 'fragments/messages.html' %}

{% block content %}


<!-- Button to trigger modal 
<a href="#myModal" role="button" class="btn" onclick="$('#myModal').modal('show')" data-toggle="modal">Launch demo modal</a>
 
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
-->
<div class="well" id="starten">

<form action="/kniffel/start/" method="POST">{% csrf_token %}
<input type="text" id="gamename">
<input type="submit" class="btn btn-primary">start</input>
</div>

{% if not hold_w_id == False %}
	<div class="well">hold_w_id gibt es! 
	{% for w_id in hold_w_id %}
		{{ w_id }}
	{% endfor %}
	</div>
{% endif %}

      <div class="row-fluid">
        <div class="span8">
         	<div class="well" id="round_counter">
        		<p id="round_text">Runde 1 von 13</p>
	        	<div class="progress progress-striped active">
	  				<div id="game_progress" class="bar" style="width: 4%;"></div>
				</div>
        	</div>
        
	        <div class="well" id="dice_area">
	        	<div id="dices" class="row">
	        		<div class="span1"></div>
	        		<div id="w1" class="span2 well text-center">1</div>
	        		<div id="w2" class="span2 well text-center">2</div>
	        		<div id="w3" class="span2 well text-center">3</div>
	        		<div id="w4" class="span2 well text-center">4</div>
	        		<div id="w5" class="span2 well text-center">5</div>
	        	</div>
	        	<div id="dices_hold" class="row">
	        		<div class="span1"></div>
	        		<div class="span2 text-center"><a href="/kniffel/w/1" class="btn btn-inverse" id="hold_w1"><i id="ihold_w1" class="icon-pause icon-white"></i> hold</a></div>
	        		<div class="span2 text-center"><a href="/kniffel/w/2" class="btn btn-inverse" id="hold_w2"><i id="ihold_w2" class="icon-pause icon-white"></i> hold</a></div>
	        		<div class="span2 text-center"><a href="/kniffel/w/3" class="btn btn-inverse" id="hold_w3"><i id="ihold_w3" class="icon-pause icon-white"></i> hold</a></div>
	        		<div class="span2 text-center"><a href="/kniffel/w/4" class="btn btn-inverse" id="hold_w4"><i id="ihold_w4" class="icon-pause icon-white"></i> hold</a></div>
	        		<div class="span2 text-center"><a href="/kniffel/w/5" class="btn btn-inverse" id="hold_w5"><i id="ihold_w5" class="icon-pause icon-white"></i> hold</a></div>
	        	</div>
        	</div>
       		<div class="well">
       		<div class="progress progress-success progress-striped active">
				<div id="round_progress" class="bar" style="width: 33%"></div>
			</div>
        	<a href="#roll" class="btn btn-success btn-large btn-block"><i class="icon-play icon-white"></i> Würfeln</a>
        	</div>
        </div>
        <div class="span4 well">
        	<div class="row" style="padding-left:20px"></div>

			<div class="row" style="padding-left:20px">
	    		<div class="input-prepend input-append">
	    			<span class="add-on">30</span>
	    			<input type="text" style="max-width:35px" value="24">
	    			<span class="add-on"> 1er <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios1" value="r1er"> wählen</span>
			  	</div>
			</div>
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> 2er <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios2" value="r2er"> wählen</span>
			  	</div>
			</div>
          	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">25</span>
        			<input type="text" style="max-width:35px" value="15">
        			<span class="add-on"> 3er <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios3" value="r3er"> wählen</span>
			  	</div>
			</div>
          	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">25</span>
        			<input type="text" style="max-width:35px" value="15">
        			<span class="add-on"> 4er <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios4" value="r4er"> wählen</span>
			  	</div>
			</div>


          	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">25</span>
        			<input type="text" style="max-width:35px" value="15">
        			<span class="add-on"> 5er <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadio5" value="r5er"> wählen</span>
			  	</div>
			</div>
          	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> 6er <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios6" value="r6er"> wählen</span>
			  	</div>
			</div>
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">max. 180</span>
        			<input type="text" style="max-width:35px" value="15" disabled>
        			<span class="add-on"> Summe oben </span>
			  	</div>
			</div>
          	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">+25 wenn >63</span>
        			<input type="text" style="max-width:35px" value="15" disabled>
        			<span class="add-on"> Bonus </span>
			  	</div>
			</div>			
          	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> 3er Pasch <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios3p" value="r3p"> wählen</span>
			  	</div>
			</div>			
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> 4er Pasch <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadios4p" value="r4p"> wählen</span>
			  	</div>
			</div>			
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> Full House <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadiosfullhouse" value="rfullhouse"> wählen</span>
			  	</div>
			</div>			
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> kleine Straße <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadioskleinestr" value="rkleinestr"> wählen</span>
			  	</div>
			</div>			
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> große Straße <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadiosgrossestr" value="rgrossestr"> wählen</span>
			  	</div>
			</div>
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> Kniffel <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadioskniffel" value="rkniffel"> wählen</span>
			  	</div>
			</div>
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append"><label for="optionsRadioschance">
        			<span class="add-on">30</span>
        			<input type="text" style="max-width:35px" value="24">
        			<span class="add-on"> Chance <input type="radio" class="text-center" style="margin-bottom:15px;text-align:center" name="optionsRadios" id="optionsRadioschance" value="rchance"> wählen</span></label>
			  	</div>
			</div>
        	<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">25</span>
        			<input type="text" style="max-width:35px" value="15">
        			<span class="add-on"> Summe unten </span>
			  	</div>
			</div>
			<div class="row" style="padding-left:20px">
        		<div class="input-prepend input-append">
        			<span class="add-on">25</span>
        			<input type="text" class="uneditable-input" style="max-width:35px" value="15">
        			<span class="add-on"> Summe Gesamtscore </span>
			  	</div>
			</div>
        	
        	<div class="row" style="padding-left:20px"></div>
        </div>
      </div>

{% endblock %}
      <hr>

      <div class="footer">
        {% block footer %}<p>&copy; fmhconsulting 2013</p>{% endblock %}
      </div>

    </div> <!-- /container -->
{% endblock %}